
$color: (
    verde-oscuro-3: #2a3816,
    verde-oscuro-1: #3D511F,
    verde-azulado-2: #3b513f,
    verde-azulado-1: #48634e,
    verde-claro: #7a9681,
    verde-hover: #C2E6C9,
    verde-amarillento: #BDC397,
    blanco: #FFFFFF

);
$font-sizes-p: (
    xs: 10px,
    s: 12px,
    m: 13px,
    l: 16px,
    xl: 20px,
    xxl: 24px
);
$font-sizes-h1: (
    s: 24px,
    m: 44px,
    l: 64px
);
$font-sizes-h2: (
    s: 20px,
    m: 34px,
    l: 36px
);
$font-sizes-h3: (
    s: 16px,
    m: 26px,
    l: 28px
);

$font-titulo: "Abril Fatface", serif;
$font-p: "Raleway", serif;

@mixin flex ($direction,$justify,$align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}
@mixin medidas ($width,$height) {
    width: $width;
    height: $height;
}
@mixin background-img ($bgsize, $bgrepeat, $bgattachment, $bgposition, $bgheight) {
    background-size: $bgsize;
    background-repeat: $bgrepeat;
    background-attachment: $bgattachment;
    background-position: $bgposition;
    min-height: $bgheight;
}
@mixin card ($width, $bgcolor, $padding) {
    width: $width;
    background-color: $bgcolor;
    padding: $padding;
}
/*Animaciones*/
:root {
    --animate-duration: 1600ms;
}
body {
    font-family: $font-p;
    font-size: map-get($font-sizes-p, xxl );
    background-color: map-get($color, verde-azulado-1 );
    color: map-get($color, blanco );
    min-height: 100vh;
}
nav {
    background-color: map-get($color, verde-oscuro-1 );
    .logo {
        @include medidas (2rem, auto);
    }
    .style-toggler {
        border: none;
        box-shadow: none;
        .menu-svg-vic {
            @include medidas (1.5rem, auto);
        }               
    }
    ul {
        font-size: map-get($font-sizes-p, l );
        padding: 10px 20px;
        li {
            .nav-link {
                color: map-get($color, blanco );
                &:hover {
                    color: map-get($color, verde-hover  );
                }
            }
            .active-vic {
                color: map-get($color , verde-claro );
            }
        }
    }
}
footer {
    background-color: map-get($color, verde-oscuro-1 );
    @include medidas (100%, auto);
    padding: 8px 30px;
    @include flex(row, space-between , center);
    gap: 20px;
    .redes {
        @include flex(row, center , center );
        .instagram-f, .telefono-f {
            @include flex(row, start , center );
        }
    }
    p {
        font-size: map-get($font-sizes-p, l );
        margin: 10px;
    }
    img {
        @include medidas(30px, auto);
        margin: 10px;
    }
}
h1 {
    font-family: $font-titulo;
    font-size: map-get($font-sizes-h1, l );
    padding: 20px;
    @include flex(row, center, center);
}
h2 {
    font-family: $font-titulo;
    font-size: map-get($font-sizes-h2, l);
    padding: 20px 0;
}
h3 {
    font-family: $font-titulo;
    font-size: map-get($font-sizes-h3, l);
}
/*Index*/
.fondo-menu {
    background-image: url(../assets/imagenes/nuevo-fondo-index.jpg);
    @include background-img(cover, no-repeat, fixed, center, 100vh);
}
.bg-texto-index {
    background-color: map-get($color, verde-oscuro-3);
    opacity: 0.7;
    @include medidas(100%, auto);
    border-top-right-radius: 36px;
    padding: 40px;
}
.nature {
    @include flex(row-reverse, space-between, center);
    img {
        @include medidas(50%, auto);
    }
}
.nosotros-inicio {
    @include flex(row, center, center );
    background-color: #3b513f;
    padding: 30px;
    gap: 20px;
    opacity: 0.9;
    img {
        @include medidas(50%, auto );
        border-style: solid;
        border-color: #2a3816;
    }
}
.proyectos-inicio {
    background-color: #2a3816;
    opacity: 0.9;
    gap: 20px;
    padding: 30px;
    .img-inicio-proyectos {
        @include flex(row, space-between, center );
        padding: 30px;
        gap: 20px;
        img {
            @include medidas(45%, auto );
        }
    }
    .renders-texto-inicio {
        @include flex(row, center, center );
        gap: 20px;
    }
    button {
        @include flex(row, end, center );
    }
}
.btn-inicio {
    text-decoration: none;
    color: map-get($color, blanco );
    background-color: map-get($color, verde-claro);
    border-style: none;
    padding: 5px;
    border-radius: 10px;
}
.servicios {
    @include flex(column, space-evenly, center);
    p {
        text-align: center;
    }
    .servicios-inicio-texto {
        position: absolute;
    }
    img {
        @include medidas(100%, auto);
        filter: brightness(0.6);
    }
}
.servicios-inicio-texto, .contacto-inicio {
    @include flex(column, center, center);
}
.contacto-inicio {
    background-color: #3b513f;
    padding: 30px;
    opacity: 0.9;
    .redes-contacto-inicio {
        padding: 20px;
        @include flex(row, space-evenly, center);
        gap: 30px;
        @include medidas(100%, auto);
    }
    .contacto-logo {
        @include medidas(1.5rem, auto);
    }
}
/*Sobre nosotros*/
.titulo-sobre-nosotros {
    background-color: #BDC397;
    padding: 20px 0;
    margin-bottom: 50px;
}
.historia, .mision {
    @include flex(row, space-evenly, center);
    padding: 20px;
    gap: 20px;
    img {
        @include medidas(50%, auto);
        @include flex(row, center, center );
    }
}
.historia {
    @include flex(row-reverse, space-evenly, center );
    background-color: #7a9681;
}
.organiza-nature {
    padding: 40px 0px;
    h2 {
        @include flex(row, center, center);
        padding: 20px;
    }
    .roles-nature {
        @include flex(row, space-evenly, center);
        padding: 40px 20px;
        gap: 20px;
        font-size: map-get($font-sizes-p, l);
        .analistas, .jardineros {
            @include card(100%, map-get($color, verde-azulado-2), 20px );
        }
        .diseñadores {
            @include card(100%,  map-get($color, verde-claro), 20px )
        }
    }
}
.mision {
    @include flex(row, center, center );
    background-color: map-get($color, verde-azulado-2);
    margin-bottom: 40px;
}
/*Proyectos*/
.carrusel-estilo-vic {
    @include medidas(100%, auto );
    max-height: fit-content;
}

.fondo-proyectos {
    background-image: url(../assets/imagenes/nuevo-fondo-index.jpg);
    @include background-img(cover, no-repeat, fixed, center, 100vh);
    h2 {
        padding: 40px 0;
        @include flex(row, center, center);
    }
    .parques {
        background-color: map-get($color ,  verde-oscuro-1 );
        opacity: 0.9;
        p {
            padding: 30px 0px 10px;
        }
    }
}
.proyectos-img-p {
    padding: 0 30px 50px;
    gap: 20px;
    margin: 20px 0 0;
}
.render-p {
    @include flex(row, space-between, center );
    background-color: map-get($color, verde-claro);
    @include medidas(100%, auto );
}
.img-planos {
    @include medidas(100%, auto );
}
/*Servicios*/
.h2-servicios {
    padding: 20px;
}
.titulo-servicios {
    background-color: map-get($color, verde-amarillento);
    padding: 10px;
    margin: 0;
}
.cards-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 35px 0;
    .card {
        background-color: #3b513f;
        color: white;
        padding: 20px;
        margin: 20px;
        @include medidas(100%, auto);
        img {
            @include medidas(9%, auto);
            padding-bottom: 15px;
        }
    }
    .color-var {
        background-color: map-get($color, verde-claro);
    }
}
.servicios-texto {
    @include flex(column, center, center);
    position: absolute;
    text-align: center;
}
/*Contacto*/
.fondo-contacto {
    @include background-img(cover, no-repeat, fixed, center, 100vh);
    background-image: url(../assets/imagenes/Fondo-contacto.png);
}
.titulo-p-form, .faq {
    @include flex(column, center, center);
}
.titulo-p-form {
    @include medidas(60%, auto);
}
.p-form {
    text-align: center;
}
.formulario {
    @include flex(row-reverse, space-around, center);
    padding: 20px;
    .bg-form {
        background-color: map-get($color, verde-oscuro-1);
        opacity: 0.9;
        padding: 20px;
        margin: 40px;
        @include medidas(50%, auto);
        border-radius: 31px;
    }
    .input-label {
        padding: 10px;
        font-size: map-get($font-sizes-p, xl);
    }
    .submit-button {
        padding: 10px;
        @include flex(row, end, center);
        .btn-estilo {
            background-color: map-get($color, verde-amarillento);
            border: none;
        }
        :hover {
            opacity: 0.9;
            background-color: map-get($color, verde-oscuro-3);
            transform: scale(1.05,1.05);
        }
    }
}

.faq {
   background-color: map-get($color, verde-azulado-2);
   opacity: 0.9;
   margin: 40px;
   border-radius: 20px;
   .faq-link {
    text-decoration: none;
    color: map-get($color, blanco);
    padding: 20px;
    }
    .texto-faq {
        padding: 20px;
    }
}
.faq-h2 {
    @include flex(row, center, center);
    padding: 20px;
   }
/*Media queries*/
/*Index*/
@media (max-width:1000px) {
    footer {
        .redes {
            @include flex(column, space-around , center);
            .instagram-f, .telefono-f {
                @include flex(row, start , center );
            }
        }
        p {
         font-size: map-get($font-sizes-p, m);
        }
    }
    .nav, .bg-texto-index{
        @include flex(column, center, center);
    }
    .nature {
        @include flex(column, center, center);
        img {
            @include medidas(100%, auto );
        }
    }
    .nosotros-inicio, .renders-texto-inicio {
        @include flex(column, center, center);
    }
    .nosotros-inicio img {
        @include medidas(100%, auto);
    }
    .img-inicio-proyectos {
        padding: 20px 0;
    }
    .servicios {
        .img-servicios-inicio {
            margin: 0;
        }
        p {
            margin: 20px;
        }
    }
/* Sobre nosotros */
    .historia, .mision, .roles-nature {
        @include flex(column, center, center);
        img {
            @include medidas(100%, auto);
        }
    }
    .organiza-nature {
        .roles-nature {
            @include flex(column, center, center );
        }
    }
/* Proyectos */
    .proyectos-img-p {
        @include flex(column, center, center);
        flex-direction: column;
    }
    .parques {
        img {
            @include medidas(100%, auto);
        }
        h2 {
            padding: 20px;
        }
    }
 /* Servicios */
    .cards-2 {
        @include flex(column, center, center);
        margin: 20px;
    }
 /* Contacto */
    .formulario {
        @include flex(column, center, center);
        padding: 10px 30px;
        .titulo-p-form, .bg-form {
            @include medidas(100%, auto);
        }
    }
}
    @media (max-width:610px) {
    footer {
        p {
            font-size: map-get($font-sizes-p, xs);
        }
        img {
            @include medidas(10px, auto);
        }
    }
    main {
        font-size: map-get($font-sizes-p, s);
        h1 {
            font-size: map-get($font-sizes-h1, s);  
        }
        h2 {
            font-size: map-get($font-sizes-h2, s);  
        }
        h3 {
            font-size: map-get($font-sizes-h3, s);  
        }
    }
/* Index */
    .info-paginas p {
        padding: 0;
    }
/* Sobre nosotros */
    .historia, .mision, .roles-nature {
        padding: 20px;
    }
/* Servicios  */
    .servicios{
        img {
            margin: 20px 0;
        }
        h2 {
            padding: 20px;
        }
    }
/*Contacto*/
    .bg-form {
        padding: 10px;
        margin: 10px;
        border-radius: 31px ;
        .estilo-input {
            font-size: map-get($font-sizes-p, xs );
        }
        .input-label {
            font-size: map-get($font-sizes-p, m);
        }
    }
    .faq {
        margin: 20px 0;
        .faq-link {
            padding: 10px;
        }
    }  
    }
    @media (min-width:611px) and (max-width:1000px) {
        footer img {
            @include medidas(20px, auto);
        }
        main {
            font-size: map-get($font-sizes-p, xl);
            h1 {
                font-size: map-get($font-sizes-h1, m);  
            }
            h2 {
                font-size: map-get($font-sizes-h2, m);  
            }
            h3 {
                font-size: map-get($font-sizes-h3, m);  
            }
        }
    /* Sobre nosotros */
        .historia, .mision, .roles-nature {
            padding: 30px;
        }
    /* Servicios  */
    .servicios{
        img {
            margin: 20px 0;
        }
        h2 {
            padding: 20px;
        }
    }
/* Contacto */
    .bg-form {
        padding: 30px;
        margin: 20px;
        .estilo-input {
            font-size: map-get($font-sizes-p, l);
        }
        .input-label {
            font-size: map-get($font-sizes-p, xxl);
        }
    }
    .faq {
        margin: 30px 0;
        .faq-link {
            padding: 10px;
        }
    }  
    }