
$color: (
    verde-oscuro-3: #2a3816,
    verde-oscuro-1: #3D511F,
    verde-azulado-2: #3b513f,
    verde-azulado-1: #48634e,
    verde-claro: #7a9681,
    verde-hover: #C2E6C9,
    verde-amarillento: #BDC397,
    blanco: #FFFFFF

);
$font-sizes-p: (
    xs: 10px,
    s: 12px,
    m: 13px,
    l: 16px,
    xl: 20px,
    xxl: 24px
);
$font-sizes-h1: (
    xs: 24px,
    m: 44px,
    l: 64px
);
$font-sizes-h2: (
    xs: 20px,
    m: 34px,
    l: 36px
);
$font-sizes-h3: (
    xs: 16px,
    m: 26px,
    l: 28px
);

$font-titulo: "Abril Fatface", serif;
$font-p: "Raleway", serif;

@mixin flex ($direction,$justify,$align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}
@mixin medidas ($width,$height) {
    width: $width;
    height: $height;
}
@mixin background-img ($bgsize, $bgrepeat, $bgattachment, $bgposition, $bgheight) {
    background-size: $bgsize;
    background-repeat: no-$bgrepeat;
    background-attachment: $bgattachment;
    background-position: $bgposition;
    min-height: $bgheight;
}


body {
    font-family: $font-p;
    font-size: map-get($font-sizes-p, xxl );
    background-color: map-get($color, verde-azulado-1 );
    color: map-get($color, blanco );
    min-height: 100vh;
}
nav {
    background-color: map-get($color, verde-oscuro-1 );
    .logo {
        @include medidas (2rem, auto)
    }
    .style-toggler {
        border: none;
        box-shadow: none;
        .menu-svg-vic {
            @include medidas (1.5rem, auto);
        }               
    }
    ul {
        font-size: map-get($font-sizes-p, l );
        padding: 10px 20px;
        li {
            .nav-link {
                color: map-get($color, blanco );
                &:hover {
                    color: map-get($color, verde-hover  );
                }
            }
            .active-vic {
                color: map-get($color , verde-claro );
            }
        }
    }
}
footer {
    background-color: map-get($color, verde-oscuro-1 );
    @include medidas (100%, auto);
    padding: 8px 30px;
    @include flex(row, space-between , center);
    gap: 20px;
    p {
        font-size: map-get($font-sizes-p, l );
        margin: 10px;
    }
    img {
        @include medidas(30px, auto);
        margin: 10px;
    }
}
h1 {
    font-family: $font-titulo;
    font-size: map-get($font-sizes-h1, l );
    padding: 20px;
}
h2 {
    font-family: $font-titulo;
    font-size: map-get($font-sizes-h2,l );
    padding: 20px 0;
}
h3 {
    font-family: $font-titulo;
    font-size: map-get($font-sizes-h3,l );
}
/*Index*/
.fondo-menu {
    background-image: url(../assets/imagenes/nuevo-fondo-index.jpg);
    @include background-img(cover, no-repeat, fixed, center, 100vh )
}
.bg-texto-index {
    background-color: map-get($color, verde-oscuro-3 );
    opacity: 0.7;
    @include medidas(100%, auto );
    border-top-right-radius: 36px;
    padding: 40px;
}
.nature {
    @include flex(row-reverse, space-between , center );
    img {
        @include medidas(50%, auto )
    }
}
.nosotros-inicio {
    @include flex(row, center, center );
    background-color: #3b513f;
    padding: 30px;
    gap: 20px;
    opacity: 0.9;
    img {
        @include medidas(50%, auto );
        border-style: solid;
        border-color: #2a3816;
    }
}
.proyectos-inicio {
    background-color: #2a3816;
    opacity: 0.9;
    gap: 20px;
    padding: 30px;
    .img-inicio-proyectos {
        @include flex(row, space-between, center );
        padding: 30px;
        gap: 20px;
        img {
            @include medidas(45%, auto )
        }
    }
    .renders-texto-inicio {
        @include flex(row, center, center );
        gap: 20px;
    }
    button {
        @include flex(row, end, center );
    }
}
.btn-inicio {
    text-decoration: none;
    color: map-get($color, blanco );
    background-color: map-get($color, verde-claro);
    border-style: none;
    padding: 5px;
    border-radius: 10px;
}
.servicios {
    @include flex(column, space-evenly, center);
    p {
        text-align: center;
    }
    .servicios-inicio-texto {
        position: absolute;
    }
    img {
        @include medidas(100%, auto);
        filter: brightness(0.6)
    }
}
.servicios-inicio-texto, .contacto-inicio {
    @include flex(column, center, center);
}
.contacto-inicio {
    background-color: #3b513f;
    padding: 30px;
    opacity: 0.9;
    .redes-contacto-inicio {
        padding: 20px;
        @include flex(row, space-evenly, center);
        gap: 30px;
        @include medidas(100%, auto);
    }
    .contacto-logo {
        @include medidas(1.5rem, auto);
    }
}



