$color: (
    verde-oscuro-3: #2a3816,
    verde-oscuro-1: #3D511F,
    verde-azulado-2: #3b513f,
    verde-azulado-1: #48634e,
    verde-claro: #7a9681,
    verde-hover: #C2E6C9,
    verde-amarillento: #BDC397,
    blanco: #FFFFFF

);
$font-sizes-p: (
    xs: 10px,
    s: 12px,
    m: 13px,
    l: 16px,
    xl: 20px,
    xxl: 24px
);
$font-sizes-h1: (
    xs: 24px,
    m: 44px,
    l: 64px
);
$font-sizes-h2: (
    xs: 20px,
    m: 34px,
    l: 36px
);
$font-sizes-h3: (
    xs: 16px,
    m: 26px,
    l: 28px
);
