.fondo-contacto {
    @include background-img(cover, no-repeat, fixed, center, 100vh);
    background-image: url(../assets/imagenes/Fondo-contacto.webp);
}
.titulo-p-form {
    @include flex(column, center, center);
    @include medidas(60%, auto);
    text-align: center
}
.formulario {
    @include flex(row-reverse, space-around, center);
    padding: 20px;
    .bg-form {
        background-color: map-get($color, verde-oscuro-1);
        opacity: 0.9;
        padding: 20px;
        margin: 40px;
        @include medidas(50%, auto);
        border-radius: 31px;
    }
    .input-label {
        padding: 10px;
        font-size: map-get($font-sizes-p, xl);
    }
}
.faq {
   @include flex(column, center, center);
   background-color: map-get($color, verde-azulado-2);
   opacity: 0.9;
   margin: 40px;
   border-radius: 20px;
   padding: 20px;
   .faq-link {
    text-decoration: none;
    color: map-get($color, blanco);
    padding: 20px;
   }
}
.faq-h2 {
    @include flex(row, center, center);
}