.fondo-menu {
    background-image: url(../assets/imagenes/nuevo-fondo-index.webp);
    @include background-img(cover, no-repeat, fixed, center, 100vh);
}
.bg-texto-index {
    background-color: map-get($color, verde-oscuro-3);
    opacity: 0.7;
    @include medidas(100%, auto);
    border-top-right-radius: 36px;
    padding: 20px;
}
.nature {
    @include flex(row-reverse, space-between, center);
    img {
        @include medidas(50%, auto);
    }
}
.nosotros-inicio {
    @include flex(row, center, center );
    background-color: map-get($color, verde-azulado-2 );
    padding: 20px;
    gap: 20px;
    opacity: 0.9;
    img {
        @include medidas(50%, auto );
    }
}
.proyectos-inicio {
    background-color: map-get($color, verde-oscuro-3 );
    opacity: 0.9;
    gap: 20px;
    padding: 20px;
    .img-inicio-proyectos {
        @include flex(row, space-between, center );
        gap: 20px;
        img {
            @include medidas(45%, auto );
            filter: brightness(0.85);
        }
        :hover {
            scale: 1.05;
            filter: brightness(1);
        }
    }
    .renders-texto-inicio {
        @include flex(row, center, center );
        gap: 30px;
        padding-top: 20px;
        p {
            margin: 0;
        }
    }
    button {
        @include flex(row, end, center );
    }
}
.servicios {
    @include flex(column, space-evenly, center);
    p {
        text-align: center;
    }
    .servicios-inicio-texto {
        position: absolute;
    }
    img {
        @include medidas(100%, auto);
        filter: brightness(0.6);
    }
}
.servicios-inicio-texto, .contacto-inicio {
    @include flex(column, center, center);
}
.contacto-inicio {
    background-color: map-get($color, verde-azulado-2 );
    padding: 30px;
    opacity: 0.9;
    .redes-contacto-inicio {
        padding: 20px;
        @include flex(row, space-evenly, center);
        gap: 30px;
        @include medidas(100%, auto);
    }
    .contacto-logo {
        @include medidas(1.5rem, auto);
    }
}