//Button index
.button {
    .btn-inicio {
    text-decoration: none;
    color: map-get($color, blanco );
    background-color: map-get($color, verde-claro);
    border-style: none;
    padding: 7px;
    border-radius: 15px;
    }
    :hover {
        background-color: map-get($color, verde-azulado-1);
        transform: scale(1.05,1.05);
    }
}
//Button contacto
.submit-button {
    padding: 10px;
    @include flex(row, end, center);
    .btn-estilo {
        background-color:map-get($color, verde-amarillento);
        border: none;
    }
    :hover {
        opacity: 0.9;
        background-color: map-get($color, verde-oscuro-3);
        transform: scale(1.05,1.05);
    }
}