//Index
@media (max-width:1000px) {
    footer {
        .redes {
            @include flex(column, space-around , center);
            .instagram-f, .telefono-f {
                @include flex(row, start , center );
            }
        }
        p {
         font-size: map-get($font-sizes-p, m);
        }
    }
    .nav, .bg-texto-index{
        @include flex(column, center, center);
    }
    .nature {
        @include flex(column, center, center);
        img {
            @include medidas(100%, auto );
        }
    }
    .nosotros-inicio {
        @include flex(column, center, center);
        img {
            @include medidas(100%, auto);
        }
    }
    proyectos-inicio {
        .renders-texto-inicio {
            @include flex(column, space-between, center);
        }
    }
    .servicios {
        .img-servicios-inicio {
            margin: 0;
        }
    }
// Sobre nosotros 
    .historia, .mision, .roles-nature {
        @include flex(column, center, center);
        img {
            @include medidas(100%, auto);
        }
    }
    .organiza-nature {
        .roles-nature {
            @include flex(column, center, center );
        }
    }
//Proyectos
    .proyectos-img-p {
        @include flex(column, center, center);
        flex-direction: column;
    }
    .parques {
        img {
            @include medidas(100%, auto);
        }
        h2 {
            padding: 20px;
        }
    }
//Servicios
    .cards-2 {
        @include flex(column, center, center);
        margin: 20px;
    }
//Contacto
    .formulario {
        @include flex(column, center, center);
        padding: 10px 30px;
        .titulo-p-form, .bg-form {
            @include medidas(100%, auto);
        }
    }
}
    @media (max-width:610px) {
    footer {
        p {
            font-size: map-get($font-sizes-p, xs);
        }
        img {
            @include medidas(10px, auto);
        }
    }
    main {
        font-size: map-get($font-sizes-p, s);
        h1 {
            font-size: map-get($font-sizes-h1, s);  
        }
        h2 {
            font-size: map-get($font-sizes-h2, s);  
        }
        h3 {
            font-size: map-get($font-sizes-h3, s);  
        }
    }
//Index
    .info-paginas p {
        padding: 0;
    }
//Sobre nosotros
    .historia, .mision, .roles-nature {
        padding: 20px;
    }
//Servicios
    .servicios{
        img {
            margin: 20px 0;
        }
        h2 {
            padding: 20px;
        }
        .h2-servicios {
            padding: 20px 0 0;
        }
    }
//Proyectos
.parques {
    .proyectos-img-p {
        padding: 0 10px;
        gap: 0;
        margin: 0;
    }
    h2 {
        margin: 0;
    }
}
.h1-nuestros-proyectos {
    padding: 0;
}

//Contacto
    .bg-form {
        padding: 10px;
        margin: 10px;
        border-radius: 31px ;
        .estilo-input {
            font-size: map-get($font-sizes-p, xs );
        }
        .input-label {
            font-size: map-get($font-sizes-p, m);
        }
    }
    .faq {
        margin: 20px 0;
        .faq-link {
            padding: 10px;
        }
    }  
    }
    @media (min-width:611px) and (max-width:1000px) {
        footer img {
            @include medidas(20px, auto);
        }
        main {
            font-size: map-get($font-sizes-p, xl);
            h1 {
                font-size: map-get($font-sizes-h1, m);  
            }
            h2 {
                font-size: map-get($font-sizes-h2, m);  
            }
            h3 {
                font-size: map-get($font-sizes-h3, m);  
            }
        }
    /* Sobre nosotros */
        .historia, .mision, .roles-nature {
            padding: 30px;
        }
    /* Servicios  */
    .servicios{
        img {
            margin: 20px 0;
        }
    }
/* Contacto */
    .bg-form {
        .estilo-input {
            font-size: map-get($font-sizes-p, l);
        }
        .input-label {
            font-size: map-get($font-sizes-p, xxl);
        }
    }
    .faq {
        margin: 30px 0;
        .faq-link {
            padding: 10px;
        }
    }  
    }