h1 {
    font-family: $font-titulo;
    font-size: map-get($font-sizes-h1, l );
    padding: 20px;
    @include flex(row, center, center);
}
h2 {
    font-family: $font-titulo;
    font-size: map-get($font-sizes-h2, l);
    padding: 20px 0;
}
h3 {
    font-family: $font-titulo;
    font-size: map-get($font-sizes-h3, l);
}