
/* Reset de CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Estilos generales */
/* body {
    font-family: "Raleway", serif;
    font-size: 24px;
    background-color:#48634e;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: justify;
} */
/* Navbar */
/* .bg-nav-vic {
    background-color: #3D511F;
} */
/* .logo {
    width: 2rem;
    height: auto;
} */
/* .nav-item {
    font-size: 1rem;
    padding: 10px 20px;
} */
/* .nav-link {
    color: white;
} */
/* .nav-link:hover {
    color: #C2E6C9;
} */
/* .active-vic {
    color:#7a9681;
} */
/* .style-toggler {
    border: none;
    box-shadow: none;
}
.menu-svg-vic {
    width: 1.5rem;
    height: auto;
} */

/* Footer */

/* footer {
    background-color: #3D511F;
    width: 100%;
    padding: 8px 30px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-areas: "copyright copyright instagram telefono ";
    margin-top: auto;
}
footer p {
    margin: 10px;
    font-size: 16px;
} */
/* footer img {
    margin: 10px;
    width: 30px;
    height: auto;
} */
/* .instagram, .telefono {
    display: flex;
    align-items: center;
    justify-content: end;
}
.instagram {
    grid-area: instagram;
}
.telefono {
    grid-area: telefono;
}
.copyright {
    grid-area: copyright;
    justify-content: start;
} */

/* h1 h2 h3*/
/* h1, h2, h3, h4 {
    font-family: "Abril Fatface", serif;
}
h1 {
    text-align: center;
    font-size: 64px;
    padding: 20px;
}
h2 {
    text-align: start;
    font-size: 36px;
    padding: 20px 0;
}
h3 {
    text-align: start;
    font-size: 28px;  
} */
/* Index */
/* .fondo-menu {
    background-image: url(../assets/imagenes/nuevo-fondo-index.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
} */
/* .bg-texto-index {
    background-color:#2a3816;
    opacity: 0.7;
    width: 100%;
    border-top-right-radius: 36px;
    padding: 40px;
}
.nature {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}
.nature img {
    width: 50%;
} */
/* .nosotros-inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3b513f;
    padding: 30px;
    gap: 20px;
    opacity: 0.9;
}
.nosotros-inicio img {
    width: 50%;
    border-style: solid;
    border-color: #2a3816;
} */
/* .proyectos-inicio {
    background-color: #2a3816;
    opacity: 0.9;
    gap: 20px;
    padding: 30px;
}
.img-inicio-proyectos {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    gap: 20px;
}
.img-inicio-proyectos img {
    width: 45%;
} */
/* .renders-texto-inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.btn-inicio {
    text-decoration: none;
    color: white;
    border-style: none;
    padding: 5px;
    border-radius: 10px;
}
.proyectos-inicio button {
    display: flex;
    justify-content: end;
} */
/* .servicios {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.servicios p {
    text-align: center;
}
.servicios-inicio-texto, .contacto-inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.servicios-inicio-texto {
    position: absolute;
}
.servicios img {
 width: 100%;
 filter: brightness(0.6);
} */
/* .contacto-inicio {
    background-color: #3b513f;
    padding: 30px;
    opacity: 0.9;
}
.redes-contacto-inicio {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 30px;
    width: 100%;
}
.contacto-logo {
    width: 1.5rem;
} */
/* Sobre Nosotros */
/* .titulo-sobre-nosotros {
    background-color: #BDC397;
    padding: 20px 0;
    margin-bottom: 50px;
}
.historia, .mision {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    gap: 20px;
}
.historia img, .mision img {
        width: 50%;
}
.historia {
    flex-direction: row-reverse;
    background-color: #7a9681;
}
.organiza-nature {
    padding: 40px 0px;
}
.roles-nature {
    display: flex;
    justify-content: space-evenly;
    padding: 40px 20px;
    gap: 20px;
}
.organiza-nature h2 {
    display: flex;
    justify-content: center;
    padding: 20px;
}
.analistas, .jardineros {
    width: 100%;
    background-color: #3b513f;
    padding: 20px;
}
.diseñadores {
    width: 100%;
    background-color: #7a9681;
    padding: 20px;
}
.mision {
    flex-direction: row;
    background-color:  #3b513f;
    margin-bottom: 40px;
} */
/* Proyectos */
/* .carrusel-estilo-vic {
    width: 100%;
    max-height: fit-content;
    padding-bottom: 20px;
}
.parques h2 {
    padding: 40px 0;
    display: flex;
    justify-content: center;
}
.proyectos-img-p {
    padding: 50px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background-color: #3b513f;
    margin: 20px 0;
}
.render-p {
    background-color: #7a9f81;
}
.img-planos {
    width: 50%;
} */
/* Servicios */
/* .h2-servicios {
    padding: 20px;
}
.titulo-servicios {
    background-color: #BDC397;
    padding: 10px;
    margin: 0;
}
.cards-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 35px 0;
}
.card {
    background-color: #3b513f;
    color: white;
    padding: 20px;
    margin: 20px;
    width: 100%;
}
.color-var {
    background-color: #7a9f81;
}
.card img {
    width: 9%;
    padding-bottom: 15px;
}
.servicios-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-align: center;
} */
/* Contacto */
/* .fondo-contacto {
    background-image: url(../assets/imagenes/Fondo-contacto.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
}
.titulo-p-form, .faq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}
.titulo-p-form {
    width: 60% ;
}
.p-form {
    text-align: center;
}
.formulario {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding: 20px;
}
.bg-form {
    background-color: #3D511F;
    opacity: 0.9;
    padding: 20px;
    margin: 40px;
    width: 50%;
    border-radius: 31px;
}
.input-label {
    padding: 10px;
    font-size: 20px;
}
.submit-button {
    padding: 10px;
    display: flex;
    justify-content: end;
}
.btn-estilo {
    background-color: #BDC397;
    border-color: #BDC397;
}
.btn-hover:hover {
    opacity: 0.9;
    background-color: #60763d;
    border-color:#60763d;
    transform: scale(1.05,1.05);
}
.faq {
   background-color: #3b513f;
   opacity: 0.9;
   margin: 40px;
   border-radius: 20px;
}
.faq-h2 {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.faq-link {
    text-decoration: none;
    color: white;
    padding: 20px;
}
.texto-faq {
    padding: 20px;
} */
/* Media queries */
    /* Index */
    /* @media (max-width:1000px) { */
        /* footer {
            margin-top: auto;
            padding: 4px;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: repeat(2,1fr);
            grid-template-areas: 
                "copyright copyright instagram"
                "copyright copyright telefono";
            justify-items: center;
        }
        footer img {
            display:flex;
        }
        .nav-item {
            padding: 4px 0 ;
        }
        .nav {
            gap: 2px;
        }
        .bg-texto-index {
            width: 100%;
            padding: 20px;
        }
        .nature, .nav, .bg-texto-index, .nature img {
            display: flex;
            flex-direction: column;
            justify-self: center;
            align-items: center;
        }
        .nature img {
            width: 100%;
        }
        .nosotros-inicio, .renders-texto-inicio {
            flex-direction: column;
        }
        .nosotros-inicio img {
            width: 100%;
        }
        .img-inicio-proyectos {
            padding: 20px 0;
        } */
        /* Sobre nosotros */
        /* .historia, .mision, .roles-nature {
            flex-direction: column;
        }
        .historia img, .mision img {
            width: 100%;
        } */
        /* Proyectos */
        /* .proyectos-img-p {
            flex-direction: column;
        }
        .parques img {
            width: 100%;
        }
        .parques h2 {
            padding: 20px;
        } */
        /* Servicios */
        /* .cards-2 {
            flex-direction: column;
            margin: 20px;
        } */
        /* Contacto */
        /* .titulo-p-form {
            width: 100% ;
        }
        .formulario {
            flex-direction: column;
            align-items: center;
            padding: 10px 30px;
        }
        .bg-form {
            width: 100%;
        }
    } */
    /* @media (max-width:610px) { */
        /* footer p {
            font-size: 8px;
        }
        footer img {
            width: 10px;
        }
        main {
            font-size: 12px;
        }
        h1 {
            font-size: 26px;
            padding: 0px;
        }
        h2 {
            font-size: 20px;
            padding: 0px;
        }
        h3 {
            font-size: 16px;
        } */
        /* Index */
        /* .info-paginas p {
            padding: 0;
        }
        /* Sobre nosotros */
        /* .historia, .mision, .roles-nature {
            padding: 20px;
        } */
        /* Servicios  */
        /* .servicios-pag-img {
            margin: 20px 0;
        }
        .h2-servicios {
            padding: 20px;
        } */ */
        /* Contacto */
        /* .bg-form {
            padding: 10px;
            margin: 10px;
            border-radius: 31px ;
        }
        .estilo-input {
            font-size: 10px;
        }
        .input-label {
            font-size: 14px;
        }
        .faq {
            margin: 20px 0;
        }  
        .faq-link {
            padding: 10px;
        } */
    /* } */
    /* /* @media (min-width:611px) and (max-width:1000px) { */
        footer img {
            width: 20px;
        }
        h1 {
            font-size: 44px;
            padding: 0px;
        }
        h2 {
            font-size: 34px;
            padding: 0;
        }
        h3 {
            font-size: 26px;
        }
        main {
            font-size: 20px;
        } 
        /* Sobre nosotros */
        /* .historia, .mision, .roles-nature {
            padding: 30px;
        } */
        /* Servicios  */
        /* .servicios-pag-img {
            margin: 20px 0;
        }
        .h2-servicios {
            padding: 20px;
        } */
        /* Contacto */
        /* .bg-form {
            padding: 30px;
            margin: 20px;
        }
        .estilo-input {
            font-size: 16px;
        }
        .input-label {
            font-size: 24px;
        }
        .faq {
            margin: 30px 0;
        }  
        .faq-link {
            padding: 10px;
        }
}